textarea{
    margin-right: 20px;
}
body{
    text-align: center;
}

input{
    width: 20px;
    position: relative;
    top: -10px;
}

button{
    background: black;
    width: 150px;
    position: relative;
    top: 40px;
    left: -230px;
    color: white;
    border-radius: 10%;
    
    
}
